@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
    color: #0067b8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.background__texto{
    position:sticky;
    top: 50px;
    font-size: 2rem;
    color: orange(0, 103, 184, 0.1);
    z-index: -1;
    text-align: center;
    width: 100%;
}

.encriptador {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: flex;
    gap: 20px;
}

.encriptador__contenido, .encriptador__resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.encriptador__label {
    font-size: 1.25rem;
    color: #0067b8;
    margin-bottom: 40px;
}

.encriptador__textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    resize: none;
}

.encriptador__nota {
    font-size: 1.5rem;
    color: #292727;
    margin-top: 5px;
    margin-bottom: 15px;
}

.encriptador__boton {
    background-color: #0067b8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.encriptador__boton__desencriptador {
    background-color: #0067b8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-align: center
}

.encriptador__boton__copiar {
    background-color: #ffffff;
    color: #0067b8;
    border: 1px solid #0067b8;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 30px;
    width: 100%;
    text-align: center
}

.encriptador__boton:hover {
    opacity: 0.9;
}

.encriptador__resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px;
}

.encriptador__imagen {
    margin-top: 20px;
}

.encriptador__footer {
    background-color: #0067b8;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.encriptador__footer p {
    margin: 0;
}